@import '../../../styles/variables';
@import '../../../styles/mixins';

.alarmContainer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  .notificationCircle {
    background-color: red;
    height: 8px;
    width: 8px;
    position: absolute;
    right: 3px;
    top: 0;
    border-radius: 50%;

    @include mobile {
      right: 3px;
      top: 3px;
    }

    &.hidden {
      display: none;
    }
  }

  .bellButton {
    cursor: pointer;
    @include mobile {
      img {
        height: 24px;
        width: 24px;
      }
    }
  }
}
