@import '../../styles/mixins';

.contentContainer {
  position: relative;
  flex: 1 0;
  max-width: 1120px;
  margin-left: 200px;
  z-index: 5;
}

@include tablet {
  .contentContainer {
    position: relative;
    max-width: 100%;
    margin-left: 0;
  }
}
