@import '../../styles/variables';
@import '../../styles/mixins';

@mixin commonParagraph($mainTextColor: $gray500) {
  .upperSubText {
    @include fontStyle700(
      $font-family: HakgyoansimDunggeunmisoTTF-R,
      $font-size: 30px,
      $line-height: 34.5px,
      $color: $primary-green200
    );
    padding-bottom: 20px;
  }
  .mainLightText {
    @include fontStyle400(
      $font-family: HakgyoansimDunggeunmisoTTF-R,
      $font-size: 50px,
      $line-height: 57.5px,
      $color: $mainTextColor
    );
  }
  .mainBoldText {
    @include fontStyle700(
      $font-family: HakgyoansimDunggeunmisoTTF-B,
      $font-size: 50px,
      $line-height: 57.5px,
      $color: $mainTextColor
    );
  }

  @include mobile {
    .upperText {
      font-size: 20px;
      line-height: 23px;
    }
    .mainLightText,
    .mainBoldText {
      font-size: 32px;
      line-height: 36.8px;
    }
  }
}

.cloverText {
  font-family: YClover-Bold;
  color: $primary-green200;
}

.LandingContainer {
  background-color: #ecf0fa;
  img {
    width: auto;
    height: 100%;
  }
}

.common {
  width: 100%;
  max-width: 924px;
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

.background {
  width: 100vw;
  background-image: url('../../public/landing/landing-ellipse.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: 0 600px;
}

.introSection {
  padding-top: 120px;
  padding-bottom: 62px;
  text-align: center;

  .introParagraph {
    padding-bottom: 40px;

    .introLightText {
      @include fontStyle400($font-family: HakgyoansimDunggeunmisoTTF-R, $font-size: 60px);
    }
    .introBoldText {
      @include fontStyle700($font-family: HakgyoansimDunggeunmisoTTF-B, $font-size: 90px);
    }

    @include mobile {
      .introLightText {
        font-size: 40px;
        line-height: 48px;
      }
      .introBoldText {
        font-size: 55px;
        line-height: 64px;
      }
    }
  }

  .introImageWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 54px;

    img {
      @include mobile {
        aspect-ratio: 498 / 590;
        hight: auto;
        width: 100%;
        max-height: 398px;
        max-width: 336px;
      }
    }
  }
}

.writeSection {
  background-color: $gray500;
  padding: 200px 0 248px;

  .writeGridContainer {
    display: grid;
    grid-template-areas:
      'wp ch'
      'kb ch';
    gap: 40px;

    @include tablet {
      grid-template-areas:
        'wp wp'
        'kb ch';
    }

    @include mobile {
      gap: 15px;
    }
  }

  .writeParagraph {
    grid-area: wp;
    @include commonParagraph($mainTextColor: $gray50);
  }
  .keyboard {
    grid-area: kb;
    aspect-ratio: 364 / 450;
  }
  .chat {
    grid-area: ch;
    aspect-ratio: 520 / 681;
    @include tablet {
      aspect-ratio: 364 / 450;
    }
  }
}

.shareSection {
  background-color: #f0f4fc;
  padding: 200px 0;

  .shareParagraph {
    @include commonParagraph($mainTextColor: $gray500);
    padding-bottom: 120px;

    @include mobile {
      padding-bottom: 60px;
    }
  }

  .shareImageList {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 0 20px;

    @include mobile {
      gap: 10px;
      img {
        aspect-ratio: 1;
      }
    }
  }
}

.viewSection {
  padding-top: 200px;
  padding-bottom: 200px;

  .viewParagraph {
    @include commonParagraph($mainTextColor: $gray500);
    padding-bottom: 120px;

    @include mobile {
      padding-bottom: 60px;
    }
  }

  .viewGridContainer {
    display: grid;
    grid-template-areas:
      'sg sg sg'
      'be ch ch';
    gap: 40px;

    @include mobile {
      gap: 15px;
    }

    .scriptGreen {
      grid-area: sg;
    }
    .bell {
      grid-area: be;
      aspect-ratio: 1;
    }
    .chatLight {
      grid-area: ch;
    }
  }
}

.startSection {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-color: $gray500;
  p {
    @include fontStyle700($font-family: HakgyoansimDunggeunmisoTTF-B, $font-size: 60px, $color: $gray50);
    padding-bottom: 50px;

    @include mobile {
      padding-bottom: 40px;
      font-size: 30px;
      line-height: 34.5px;
    }
  }
}

.landingLink {
  padding: 15px 30px;
  border-radius: 15px;
  background-color: $gray50;
  @include fontStyle400($font-family: HakgyoansimDunggeunmisoTTF-R, $font-size: 24px);

  &.dark {
    background-color: $gray500;
    color: $gray50;
  }

  @include mobile {
    padding: 10px 20px;
    font-size: 22px;
  }
}
